:root {
    --mainColor: #081f21;
    --secondaryColor: #2baab1;
    --textColor: #ffffff;
    --hoverColor: #535353;
    --hoverText: #ffffff;
}

/* ---------------------------------------------------
    SIDEBAR STYLES
----------------------------------------------------- */

html {
    height: 100%;
    /* font-size: 62.5%; */
}

body {
    font-family: 'Poppins', sans-serif !important;
    /* font-size: 1.8em; */
    background: #fafafa;
    height: 100%;
    overflow: hidden !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.5em;
    color: #4c4c4c;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    outline: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    /* transition: all 0.3s; */
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.contact {
    font-size: 14px;
    text-decoration: none;
    color: #7a7a7a;
}

.contact a {
    text-decoration: none;
}

.contacts {
    font-size: 12px;
    text-decoration: none;
    color: #7a7a7a;
}

.contacts .link {
    text-decoration: none;
}

.md {
    cursor: pointer;
    text-decoration: none;
}

.panelHeaderIcons {
    display: inline;
    float: right;
    padding: 13px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    display: block;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    background: var(--mainColor);
    color: var(--textColor);
    transition: all 0.3s;
}

#sidebar .legendToggleLI {
    display: block;
}

#sidebar .legendToggleLI label {
    margin-left: 11px;
}

#sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 2.5em;
    margin-bottom: 5px;
}

#sidebar ul li a {
    display: block;
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar ul li a:hover {
    color: var(--hoverText);
    background: var(--hoverColor);
}

#sidebar .sidebar-header {
    padding: 12px;
    border-bottom: 1px solid var(--textColor);
    /* background: var(--secondaryColor); */
}

#sidebar ul li.active>a,
a[aria-expanded='true'] {
    color: var(--textColor);
    background: var(--secondaryColor);
}

a[data-toggle='collapse'] {
    position: relative;
}

a[aria-expanded='false']::before,
a[aria-expanded='true']::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded='true']::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--secondaryColor);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.disabled {
    background-color: lightgrey !important;
    pointer-events: none;
}

a.download {
    background: #fff;
    color: var(--mainColor);
}

a.article,
a.article:hover {
    background: var(--secondaryColor) !important;
    color: var(--textColor) !important;
}

#sidebarCollapseInBar {
    background-color: var(--secondaryColor);
    color: var(--textColor);
}

a.article:hover,
#sidebarCollapseInBar:hover {
    filter: brightness(110%);
}

#content {
    min-width: 25%;
    transition: all 0.3s;
    display: none;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 25%;
    transition: all 0.3s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42.35px;
    height: 24px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.switch input {
    display: none;
}

.slidecontainer {
    text-align: center;
    padding-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.esri-legend__service {
    padding: 0px 15px;
    word-wrap: break-word;
    border-bottom: none;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.k-item.k-state-hover.k-state-focused {
    background: #3276b1;
    opacity: .85;
    color: white;
}

#layerLegend {
    max-height: 30vh;
}

#layerLegend .esri-legend__service:first-of-type {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#sliderLabel {
    width: 8%;
    margin-left: 3px;
}

html,
body,
#container {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.nav>li>a {
    padding: 10px 10px;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#shareLinkCopy {
    cursor: pointer;
}

.sideways components {
    /* background-color: blue; */
    display: flex;
}

.components {
    cursor: pointer;
}

.panelHeader {
    height: 50px;
    background-color: var(--mainColor);
    color: var(--textColor);
}

#bottomBar {
    display: none;
    background-color: var(--mainColor);
    color: var(--textColor);
}

.gridToolbar {
    text-align: right;
}

/* #gridTarget {
    border-style: none;
} */

#title6Grid td,
#title6Grid th {
    font-size: 11px;
    white-space: normal;
}

#title6Area {
    margin-bottom: 40px;
}

#title6Area .k-reset {
    cursor: pointer;
}

#bottomBar ul {
    display: flex;
    align-items: center;
    margin: 0px;
}

#bottomBar li {
    flex: 1;
}

#bottomBar .legendToggleLI {
    display: block;
}

#bottomBar .legendToggleLI label {
    margin-left: 11px;
}

#bottomBar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#bottomBar ul li a {
    display: block;
    text-align: center;
    font-size: 0.85em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bottomBar ul li a:hover {
    color: var(--hoverText);
    background: var(--hoverColor);
    cursor: pointer;
}

#bottomBar ul li.active>a,
a[aria-expanded='true'] {
    color: var(--textColor);
    background: var(--secondaryColor);
}

.customWidget {
    display: none;
}

.btnExportPDF {
    margin-left: auto;
}

.btnExportPDF:hover {
    background-color: #545b62;
}

.shareLinks a {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: inline-flex;
}

.shareLinks a:hover {
    opacity: 0.7;
}

.shareLinks ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.shareLinks li {
    display: inline-block;
    margin: 0px -2px;
}

.shareLinks em {
    margin: auto;
    color: #fff;
    font-size: 18px;
}

#EMshareButton {
    background: #efbe00;
}

#FBshareButton {
    background: #3b5998;
}

#TWshareButton {
    background: #1da1f2;
}

#INshareButton {
    background: #0077b5;
}

#GPlusShareButton {
    background: #db4437;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
    /* flex: 1; */
    outline: none;
}

#basemapToggle img {
    width: 27px;
    margin-top: 10px;
}

.reportBtn {
    /* flex: 1; */
    margin: 10px;
}

.returnBtn {
    margin: 5px;
    display: none;
}

.reportFormArea {
    display: none;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

#cardContainer .card {
    margin: 5px;
}

#cardContainer .cardIcon {
    flex: 1;
}

#cardContainer .card-text {
    flex: 4;
    margin-left: 10px;
}

#cardContainer .card:hover {
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

#viewDiv {
    flex: 1;
}

@media (max-width: 900px) {
    #container {
        flex-direction: column;
        /* overflow: hidden; */
    }

    #sidePanel {
        flex: 1;
        max-height: 55%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.nav-pills li {
    background-color: lightgray;
}

#contactHeader {
    background: var(--mainColor);
    color: var(--textColor);
}

.repContainer {
    display: flex;
    align-items: center;
}

.repContainer a:hover {
    opacity: 0.7;
}

.repInfoContainer {
    flex: 1;
    margin-left: 10px;
}

.rep-pic {
    border-radius: 50%;
    /* height: 80px; */
    width: 50px;
}

.socialChannel {
    margin: 3px;
    font-size: 17px;
}

.socialChannel:hover {
    opacity: .8;
}

.socialChannel:first-of-type {
    margin: 0px;
}




#screenshotDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.hide {
    display: none;
}

#screenshotDiv img {
    border: 10px solid white;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    width: 50%;
    height: auto;
    background-color: white;
}

#screenshotDiv>* {
    margin: 0.5em;
}

.screenshotCursor {
    cursor: crosshair;
}

.action-button {
    padding: 0.6em;
    border: 1px solid #0079c1;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.action-button:hover,
.action-button:focus {
    background: #0079c1;
    color: white;
}

#maskDiv {
    position: absolute;
    background: rgba(255, 51, 0, 0.1);
    border: 2px dashed rgb(255, 51, 0);
}










.popover-title {
    background: var(--mainColor);
    color: var(--textColor);
}

.esri-view-width-xlarge .esri-popup__main-container {
    width: 375px;
}

.esri-ui .esri-popup {
    border-radius: 4px;
}

.esri-popup__main-container {
    background: white;
    color: #333;
    border-radius: 4px;
}

.esri-popup__header {
    background: var(--mainColor);
    color: var(--textColor);
}

.esri-popup__header-buttons .esri-popup__icon {
    color: white;
}

.esri-feature {
    margin-top: 5px;
}

.esri-popup__icon:hover {
    color: lightgray;
}

.esri-popup__content a {
    color: #2baab1;
}

.esri-popup--shadow {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

#classBreakSliders {
    width: 100px;
    height: 300px;
}

#classBreakSliderTooltips {
    margin-top: -10px;
}

.sliderTooltip {
    /* background-color: rgb(83, 83, 83); */
    /* border-radius: 2px; */
    /* color: white; */
    /* padding: 2px; */
    font-size: 10px;
    /* border: 1px solid black; */
    text-align: right;
    /* margin-top: -6px; */
    margin-right: 5px;
}

.paneLabel {
    background-color: rgb(83, 83, 83);
    border-radius: 2px;
    color: white;
    padding: 2px;
}

.classBreakChart {
    background-color: rgb(170, 170, 170, 0.8);
}

.classBreakChart:hover {
    background-color: black;
}

.sliderTooltipInput {
    width: 40px;
}

.k-splitbar.k-splitbar-draggable-vertical:after {
    position: absolute;
    top: 30%;
    overflow: visible;
    width: 100%;
    height: 1.5px;
    content: '\a0';
    background-color: black;
    text-align: right;
    margin-left: 50%;
}

#layerList .checkbox-div {
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 7px;
    /* background-color: var(--mainColor); */
    border-color: #1d1d1d;
    /* color: var(--textColor); */
    display: flex;
    align-items: center;
    margin: 1px;
}

#layerList .checkbox-div:hover {
    background-color: #eee;
    border-color: #1f1f1f;
    cursor: pointer;
}

#layerList .regular-checkbox:hover,
label:hover,
.regular-checkbox:hover {
    cursor: pointer;
}

#layerList .layerLabel {
    margin-left: 5%;
    font-size: 14px;
    flex: 1;
}

#layerList .regular-checkbox {
    display: none;
}

#layerList .regular-checkbox+label {
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#layerList .regular-checkbox:checked+label {
    background-color: var(--secondaryColor);
    border: 1px solid #adb8c0;
    color: #000;
}

#layerList .regular-checkbox:checked+label:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: var(--textColor);
}

#layerList .big-checkbox+label {
    padding: 10px;
}

#layerList .big-checkbox:checked+label:after {
    font-size: 15.5555px;
    /* left: 4px; */
}

#legendHeader {
    height: 50px;
    background-color: var(--mainColor);
    color: var(--textColor);
    cursor: move;
}



#legendHeader span {
    margin: 15px;
    font-weight: bold;
    font-size: 15px;
}

/* .legendDiv {
    display: flex;
    padding: 2px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #c2c0c0;
    background-color: white;
    color: black;
}



.legendDiv:first-of-type {
    border-top: none;
} */

#legendDiv {
    background: white;
    color: black;
    padding-top: 10px;
    max-height: 60vh;
    width: 240px;
}

#legend {
    /* padding: 10px; */
    display: none;
    background-color: white;
    color: black;
}

.esri-legend__layer-cell {
    padding: 1px 0;
}

.esri-legend__layer-cell--info {
    padding-left: 7px;
}

#dynamicCBRCheckbox {
    margin-left: 5px;
}

#dynamicCBRLabel {
    margin-left: 10px;
}

.compareHeader {
    white-space: normal !important;
    vertical-align: middle !important;
    font-weight: bold !important;
    font-size: 14px !important;
    text-align: center !important;
}

#comparisonContainer label {
    margin-top: 1rem;
}

#comparisonContainer {
    display: none;
}

#compareCheckboxLabel {
    padding: 10px 0px 0 0;
    margin-bottom: 0px;
}

#drawClearBtn {
    display: none;
}

.k-treeview .k-item {
    color: black;
}

#advancedTreeview {
    height: 25vh;
}

#advancedContainer {
    display: flex;
    flex-direction: column;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.9rem;
}

#advancedQueryTarget {
    height: 48vh;
    margin-top: 10px;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#advancedCntDiv {
    margin-top: 10px;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

#btnAdvancedSubmit {
    margin-left: auto;
}

#advancedCount {
    margin-left: 10px;
    font-weight: bold;
}


#drawAddBtn {
    display: none;
}

.esri-icon-search {
    color: white;
}

#drawInstructions {
    display: flex;
    justify-content: space-between;
}

#drawingTooltip {
    width: 150px;
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 1px solid gray;
    z-index: 10;
    border-radius: 10px;
    font-size: 11px;
    pointer-events: none;
}

.flexContainer {
    display: flex;
    align-items: center;
}

.hiddenLegend {
    display: none;
}

.esri-legend__service-label {
    font-size: 12px !important;
    flex: 1;
    order: 2;
}

.esri-legend__layer {
    order: 1;
    width: 100%;
}

#layerLegend .esri-legend__layer {
    order: 1;
    width: 20%;
}

.esri-widget__heading {
    font-size: 11px;
    flex: 1;
}

.esri-legend__message {
    display: none;
}

#layerList .legendItem {
    width: 90%;
}

#layerList .legendItemLabel {
    color: #d1d1d1;
    font-size: 12px;
    font-family: 'Avenir Next W00', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    margin-left: 1%;
}

#layerList img {
    vertical-align: middle;
}

.pickerLabel {
    margin-right: 5px;
    flex: 1;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.popupItem {
    display: flex;
    width: 100%;
}

.popupItem span {
    flex: 3;
}

.popupItem .popupLabel {
    flex: 1;
    font-weight: bold;
}

.arrow-left {
    display: none;
    float: right;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    margin-top: -29px;
}

#sidebar .arrow-left {
    margin-top: -55px;
}

.close-thick:after {
    content: '✖';
}

.close-thick {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

.panelSubHeader {
    display: flex;
}

.panelHeaderText {
    padding: 15px;
    padding-right: 0;
    font-weight: 700;
    font-size: 15px;
}

.closePanel {
    padding: 5px;
    /* float: right;
    margin-right: 5px; */
}

.esri-icon {
    color: white;
}

.panelContent {
    padding: 8px;
    /* border: 1px solid black; */
    /* -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.75); */
}

.nav-tabs>li,
.nav-pills>li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    zoom: 1;
    /* hasLayout ie7 trigger */
}

.nav-tabs,
.nav-pills {
    text-align: center;
    margin-top: 10px;
}

.panelDiv {
    padding: 5px;
    width: 27vw;
    display: none;
}

.helpSection {
    padding: 10px;
    border-bottom: 1px solid #0000002e;
    font-size: .9em;
}

#helpContent h5 {
    font-weight: bold;
}

.helpSection li {
    padding: 5px;
}

.legendToggleLI {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.legendToggleLI:hover {
    /* color: var(--hoverText); */
    background: var(--hoverColor);
}

.legendToggleLI a {
    flex: 2;
}

.legendToggleLI label {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.bigLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigLogo div {
    margin-top: 10px;
}

.safetyImg {
    width: 65px;
}

.liLabel {
    font-size: 1.15em;
}

.safetyContainer {
    display: flex;
    align-items: center;
    padding: 5px;
}

.safetyDetailsContainer {
    margin-left: 20px;
}

#bikeSafety .safetyDetails {
    margin-left: 5%;
}

.tab-pane,
.aboutTab {
    /* max-height: 90vh; */
    /* overflow-y: auto; */
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: var(--secondaryColor);
}

.link {
    text-decoration: none;
    color: #2baab1;
    font-weight: 600;
}

.esri-popup__pointer-direction.esri-popup--shadow {
    background-color: white;
}

.popf {
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

hr.pop {
    margin: 10px;
}

.legal {
    font-size: 11px;
    padding: 5px;
    font-style: italic;
}

.aboutSocialImg {
    height: 40px;
    margin: 10px;
    padding: 2px;
}

.modal-body {
    font-size: 80%;
}

.modal-header {
    /* not necessary but imo important for user */
    cursor: move;
    display: initial;
    background-color: #c1c1c1;
}

.legendSrc {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    margin-bottom: 11px;
    padding: 0px;
}

.myHiddenClass {
    display: none;
}

#colorRamp:hover,
.cRamp:hover {
    -webkit-box-shadow: 47px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 47px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#btnClassBreaksEditor {
    margin-left: 10px;
    display: none;
}

.loading-container {
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.302);
    width: 100%;
    height: 100%;
}

.loading-spinner {
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.flexCenter {
    display: flex;
    align-items: center;
    padding: 5px;
}

.cRamp {
    display: flex;
    padding: 2px;
}

.colorRampSquare {
    height: 23px;
    flex: 1;
}

#copyDiv {
    font-size: 68%;
    font-weight: 600;
    text-align: center;
}

#copyDiv p {
    margin: 0;
}

.contHeader {
    text-align: center;
}

.expandBtn {
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#acsCharts {
    /* display: flex; */
    height: 500px;
}

.chartsArea {
    flex: 1;
}

#chartsTarget {
    display: flex;
    flex-direction: column;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.9rem;
}

.chartCategoryBtn {
    width: 100%;
}

.categoryItem {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.categoryItem:hover {
    background-color: rgba(211, 211, 211, 0.46);
}

.mapSubItemList {
    margin-left: 10px;
    border-left: 5px solid gray;
    padding-left: 15px;
}

#mapsList {
    margin: 6px;
    padding: 6px;
    background: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.mapItem {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.mapItem:hover {
    background-color: lightgray;
}

.mapItem.activeMapItem {
    background-color: gray;
    color: white;
}

#sidebarCollapse {
    display: none;
}

#summaryReport {
    display: none;
}

#summaryReportHeader {
    background-color: gray;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: none;
}

#specificReportDiv {
    display: none;
}

#standardBtnSubmit {
    display: none;
}

#bufferOptions {
    display: none;
    align-items: center;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.5rem;
}

#bufferOptions .form-control {
    margin-left: 8px;
}

#interactiveForm {
    display: flex;
    flex-direction: column;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.9rem;
}

.customSummaryButton {
    margin-right: 10px;
}

.customSummaryButton.active {
    background-color: darkgray;
}

.customSummaryButton img {
    width: 25px;
}

#reportForm {
    display: flex;
    flex-direction: column;
    border: solid #e9e9ea;
    border-width: 0.2rem;
    padding: 0.9rem;
}

#collapseBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconTooltip .iconTooltiptext::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -9px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.iconTooltip {
    position: absolute;
    z-index: 9999999999;
    display: none;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

.iconTooltip .iconTooltiptext {
    width: 150px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 0px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    background-color: black;
    border: 2px solid black;
}

.iconTooltip:hover {
    display: none;
    opacity: 0;
}

#legendGrip {
    float: right;
    margin-top: 17px !important;
}

#legendGrip .fas {
    padding: 0 5px 0 5px;
}

#bikeDefIcon:hover {
    cursor: pointer;
    color: gray;
}

.popover-body {
    max-width: 220px;
}

.popover.popover--topright {
    /* margin-top: 0px; // Use to change vertical position */
    margin-right: 40px;
    /* Use to change horizontal position */
}

.popover {
    color: black;
    /* pointer-events: none; */
}

@media (min-width: 768px) {

    .form-search .combobox-container,
    .form-inline .combobox-container {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
    }

    .form-search .combobox-container .input-group-addon,
    .form-inline .combobox-container .input-group-addon {
        width: auto;
    }
}

.combobox-selected .caret {
    display: none;
}

/* :not doesn't work in IE8 */
.combobox-container:not(.combobox-selected) .glyphicon-remove {
    display: none;
}

.typeahead-long {
    max-height: 300px;
    overflow-y: auto;
}

.control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
}

.control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
}

.control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #C09853;
}

.control-group.warning .combobox-container .caret {
    border-top-color: #C09853;
}

.control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
}

.control-group.success .combobox-container .caret {
    border-top-color: #468847;
}


#dynamicHelp {
    cursor: pointer;
}

.queryContainer {
    margin: 5px;
    overflow-y: auto;
}

.queryHeader {
    font-weight: bold;
    font-size: 16px;
}

.queryHeader th {
    height: 30px;
    line-height: 30px;
}

.queryButtons {
    padding: 4px 12px;
}

.queryPic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 225px;
    width: 446.25px;
}

.queryItem {
    text-align: center;
    flex: 1;
    margin: 10px;
}

.inputBoxes {
    color: black;
}

.joinDDLClass {
    width: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.operatorDDL {
    width: 130px;
}

.removeRowBtn {
    margin-left: 5px;
}

.strMultiselect {
    width: 90px;
}

.cBoxHighlight {
    font-weight: bolder;
}

.typeahead.typeahead-long.dropdown-menu {
    width: 95%;
}

.typeahead.typeahead-long.dropdown-menu li.active {
    background-color: #8d8d8d;
}

#dropPrompt {
    color: black;
    margin: auto;
    background-color: lightgrey;
    padding: 20px;
    font-size: 18px;
}

.advancedRow {
    display: flex;
    align-items: center;
}

#value {
    text-align: center;
    font-size: 0.95em;
}

#runQuery {
    background-color: #137721;
}

#treeView {
    max-height: 350px;
}

#target {
    float: left;
    width: 660px;
    height: 312px;
    border: 3px solid black;
    border-radius: 3px;
    max-height: 312px;
    overflow: auto;
}

.style1 {
    width: 65px;
    margin-left: 5px;
}

#treeViewContainer {
    width: 300px;
    float: left;
}

.esri-widget {
    font-family: 'Poppins', sans-serif;
}

.esri-widget--button {
    background-color: black;
}

.esri-widget--button:hover {
    background-color: #6e6e6e;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1300px) {
    .panelDiv {
        width: 39vw;
    }
}

@media (max-height: 800px) {
    #sidebar ul li a i {
        font-size: 2em;
    }

    #sidebar ul li a {
        padding: 12px 6px;
    }

    #sidebar .arrow-left {
        margin-top: -49px;
    }
}

@media (max-width: 900px) {
    #content {
        width: 100vw;
    }

    .panelDiv {
        width: 100%
    }
}

@media (max-width: 350px) {
    .nav>li>a {
        padding: 10px 5px;
    }
}

@media (max-width: 768px) {
    .shareLinks a {
        margin: 2px;
    }

    .shareLinks em {
        margin-left: -27px;
        margin-top: -4px;
    }

    #aboutTitle {
        font-size: 12px;
    }

    .iconTooltip {
        display: none !important;
    }

    .arrow-left {
        display: none !important;
    }

    #bottomBar {
        display: block;
    }

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded='false']::before,
    a[aria-expanded='true']::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        display: none;
        margin-left: 0;
    }

    .wrapper {
        flex-direction: column;
    }
}



/*
https://cpratt.co/twitter-bootstrap-callout-css-styles/
*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
    font-size: 15px;
    font-weight: bold;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}
