<div id="helpContent">
    <div class="row panelHeader">
        <div class="col-sm-10 panelHeaderText">Using this Map</div>
        <div class="col-sm-2 panelHeaderIcons">
            <a class="closePanel" href="#"> <i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="panelContent">
        <h5>Map Navigation</h5>
        <div class="helpSection">
            <h6>Pan:</h6>
            <ul>
                <li>Click or touch the map and drag</li>
                <li>Use keyboard arrow keys</li>
            </ul>
            <h6>Zoom:</h6>
            <ul>
                <li>Click the zoom buttons:</li>
                <span class="helpRow">
                    <span style="margin-right:10px;" class="esri-widget--button esri-widget esri-interactive" role="button"
                        tabindex="0" title="Zoom In">
                        <i class="esri-icon fas fa-plus"></i>
                    </span>
                    <p class="helpText">Zoom In</p>
                </span>
                <span class="helpRow">
                    <span style="margin-right:10px;" class="esri-widget--button esri-widget esri-interactive" role="button"
                        tabindex="0" title="Zoom In">
                        <i class="esri-icon fas fa-minus"></i>
                    </span>
                    <p class="helpText">Zoom Out</p>
                </span>
            </ul>
            <ul>
                <li>SHIFT + drag a box in the map</li>
                <li>Scroll using the mouse</li>
            </ul>

            <h6>Home:</h6>
            <div class="flexCenter">
                <span class="esri-component esri-widget--button esri-widget" role="button" tabindex="0">
                    <span class="esri-icon">
                        <i class="fas fa-home"></i>
                    </span>
                </span>
                <p class="helpText">
                    Return to the default map view
                </p>
            </div>

        </div>
    </div>

    <div class="helpSection">
        <h5>Basemap Control</h5>
        <div class="flexCenter">
            <div class="esri-component esri-widget--button esri-widget" role="button" tabindex="0" aria-label="Toggle Basemap"
                title="Toggle Basemap">
                <span class="esri-icon">
                    <img style="width: 27px; margin-top: 4px;" src="images/widgetIcons/Imagery-Map-View-Icon.png"
                        alt="">
                </span>
                <span class="esri-icon-font-fallback-text">Toggle Basemap</span>
            </div>
            <p class="helpText">
                Click the Basemap Toggle Button to toggle the map background
                between a gray basemap and satellite imagery.
            </p>
        </div>
    </div>

    <div class="helpSection">
        <h5>Find My Location</h5>
        <div class="flexCenter">
            <div class="esri-component esri-widget--button esri-widget" role="button" tabindex="0">
                <span class="esri-icon">
                    <i style="margin-top: 2px;" class="fas fa-map-marker-alt"></i>
                </span>
            </div>
            <p class="helpText">
                Use the My Location button to zoom the map to your current location. This works best on mobile devices
                with GPS enabled.
            </p>
        </div>
    </div>

    <div class="helpSection">
        <h5>Layer List</h5>
        <div class="flexCenter">
            <img width="60" src="images/LayersBtn.png" alt="test">
            <p class="helpText">
                Open the Layers List to interact with and control the display of map content. The visibility of each
                layer is controlled by checking (visible) or unchecking (hidden) the box to the left of the layer name.
            </p>
        </div>
    </div>

</div>
