<div class="aboutTab">
    <div class="panelHeader">
        <span class="panelHeaderText">About the Statewide Demographic Viewer</span>
        <span class="panelHeaderIcons">
            <a class="modal-anchor md track"
               data-toggle="modal"
               data-target="#aboutHelpModal"><i class="fas fa-question-circle"></i></a>
            <a class="closePanel"
               href="#"> <i class="fas fa-times"></i></a>
        </span>
    </div>
    <div class="safetyContainer">
        <div class="row">
            <div class="col-md-12">
                <p> The Statewide Demographic Maps Viewer allows you to graphically view
                    selected population and housing data for all or virtually any block
                    group subset of the state of Arizona. The viewer provides
                    interactive mapping and reporting tools to allow exploration of data
                    from Census 2010 and the American Community Survey (ACS) 5-year
                    2013-2017. The data is shown by census block group geography. If you
                    have any questions or comments, please contact us.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact">
                <address>
                    <strong>Maricopa Association of Governments</strong><br>
                    <em class="fas fa-phone"></em>&nbsp;Phone:&nbsp;(602) 254-6300<br>
                    <em class="fas fa-envelope"></em>&nbsp;Email:&nbsp;<a href="https://www.azmag.gov/Contact/4788?"
                       onClick="openNewWindow(this); return false">&nbsp;Jason Howard, GIS Program Manager</a><br>
                    <em class="fas fa-sign-in-alt"></em>&nbsp;Website:&nbsp;<a class="link"
                       title="website link"
                       role="navigation"
                       target="_blank"
                       href="https://azmag.gov/">azmag.gov</a>
                </address>
            </div>
        </div>
    </div>
    <hr>
    <div id="adContacts"
         class="container">
        <h4 class="contHeader">Additional Contacts</h4>
        <hr>
        <div class="row">
            <div class="col-md-12 contacts">
                <h5>Councils of Governments</h5>
                <address>
                    <a class="link"
                       href="http://www.cagaz.org/"
                       target="_blank"><strong>Central Arizona Governments</strong></a>
                    <br> 1075 S. Idaho Road, Suite 300
                    <br> Apache Junction, Arizona 85219
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (480) 474-9300
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (480) 474-9306
                    <br> Community Development Analyst III - Angela Gotto
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:agotto@cagaz.org">agotto@cagaz.org</a>
                    <br> GIS Planner II - Randy Simms
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:rsimms@cagaz.org">rsimms@cagaz.org</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.azmag.gov"
                       target="_blank"><strong>Maricopa Association of Governments</strong></a>†&Delta;
                    <br> 302 North 1st Avenue, Suite 200
                    <br> Phoenix, Arizona 85003
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (602) 254-6300
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax (602) 254-6490
                    <br> Regional Analytics Manager - Anubhav Bagley
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:abagley@azmag.gov">abagley@azmag.gov</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.nacog.org/"
                       target="_blank"><strong>Northern Arizona Council of Governments</strong></a>
                    <br> 119 E. Aspen Avenue
                    <br> Flagstaff, Arizona 86001-5296
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 830-0127
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax:Fax: (520) 773-1135
                    <br> Transportation Planning Director - Jason Kelly
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:jkelly@nacog.org">jkelly@nacog.org</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.PAGregion.com/"
                       target="_blank"><strong>Pima Association of Governments</strong></a>†&Delta;
                    <br> 1 East Broadway, Suite 401
                    <br> Tucson, AZ 85701
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (520) 792-1093
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax:Fax: (520) 620-6981
                    <br> Senior Research Statistical Analyst - Caroline WaiMan Leung
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:cleung@pagregion.com">cleung@pagregion.com</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.seago.org/index.html"
                       target="_blank"><strong>SouthEastern Arizona Governments Organization</strong></a>
                    <br> 1403 W. Highway 92
                    <br> Bisbee, Arizona 85603
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (520) 432-5301 ext. 202
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (520) 432-5858
                    <br> Executive Director - Randy Heiss
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:rheiss@seago.org">rheiss@seago.org</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.wacog.com/"
                       target="_blank"><strong>Western Arizona Council of Governments</strong></a>
                    <br> 224 S. 3rd Avenue
                    <br> Yuma, Arizona 85364
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 782-1886
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (928) 329-4248
                    <br> Executive Director - Brian H. Babiars
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:brianb@wacog.com">brianb@wacog.com</a>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 contacts">
                <h5>Metropolitan Planning Orginzations</h5>
                <address>
                    <a class="link"
                       href="http://www.cympo.com/"
                       target="_blank"><strong>Central Yavapai Metropolitan Planning Organization</strong>
                    </a>
                    <br> 1971 Commerce Center Circle, Suite E
                    <br> Prescott, AZ 86301
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 442-5730
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (928) 759-5514
                    <br> Administrator - Christopher &quot;Chris&quot; Bridges
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:Christopher.Bridges@co.yavapai.az.us">Christopher.Bridges@co.yavapai.az.us</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.flagstaff.az.gov/"
                       target="_blank"><strong>Flagstaff Metropolitan Planning Organization</strong></a>
                    <br> 211 West Aspen Avenue
                    <br> Flagstaff, Arizona 86001
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 213-2651, Ext. 230
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (928) 779-7696
                    <br> Manager - David Wessel
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:dwessel@flagstaffaz.gov">dwessel@flagstaffaz.gov</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.lhmpo.org/"
                       target="_blank"><strong>Lake Havasu Metropolitan Planning Organization (LHMPO)</strong>
                    </a>
                    <br> 900 London Bridge Road, Transit Bldg.,
                    <br> Lake Havasu City, AZ 86404
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 453-2823
                    <br> LHMPO Planning Manager - Jean Knight
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:KnightJ@lhcaz.gov">KnightJ@lhcaz.gov</a>
                </address>
                <address>
                    <a class="link"
                       href="http://scmpo.org"
                       target="_blank">
                        <strong>Sun Corridor Metropolitan Planning Organization (SCMPO)</strong>
                    </a>
                    <br> 211 N Florence Street, Ste. 103
                    <br> Casa Grande, AZ 85122
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (520) 705-5153
                    <br> Director - Sharon Mitchell
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:smitchell@scmpo.org">smitchell@scmpo.org</a>
                    <br> Planning Director - Irene Higgs
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:ihiggs@scmpo.org">ihiggs@scmpo.org</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.SVMPO.org"
                       target="_blank">
                        <strong>Sierra Vista Metropolitan Planning Organization (SVMPO)</strong>
                    </a>
                    <br> 401 Giulio Cesare Ave
                    <br> Sierra Vista, AZ 85635
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (520) 515-8521
                    <br> Interim Administator - Andrea Castañon
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:andrea.castanon@sierravistaaz.gov">andrea.castanon@sierravistaaz.gov</a>
                </address>
                <address>
                    <a class="link"
                       href="http://www.ympo.org/"
                       target="_blank">
                        <strong>Yuma Metropolitan Planning Organization</strong>
                    </a>
                    <br> 502 S. Orange Ave.
                    <br> Yuma, Arizona 85364
                    <br> <em class="fas fa-phone"></em>&nbsp;Phone: (928) 783-8911
                    <br> <em class="fas fa-fax"></em>&nbsp;Fax: (928) 329-1674
                    <br> Senior Planning Manager - Charles Gutierrez
                    <br> <em class="fas fa-envelope"></em>&nbsp;Email:
                    <a class="link"
                       href="mailto:cgutierrez@ympo.org">cgutierrez@ympo.org</a>
                </address>
            </div>
            <div>
                <span class="legal">† Councils of Governments that also serve as Metropolitan Planning Organizations.</span>
                <span class="legal">&Delta;&nbsp;Councils of Governments that also serve as Transportation Management
                    Areas.</span>
            </div>
        </div>
    </div>
    <hr />
    <div id="copyDiv">
        <p>Copyright&nbsp;&copy;&nbsp;<span class="copyright"></span>&nbsp;by&nbsp;<a href="https://www.azmag.gov/"
               target="_blank">Maricopa Association of Governments</a><br><span class="version"></span>&nbsp;|&nbsp;<a
               class="modal-anchor md track"
               data-toggle="modal"
               data-target="#privacyModal">Privacy</a>&nbsp;|&nbsp;<a class="modal-anchor md track"
               data-toggle="modal"
               data-target="#termsModal">Terms</a></p>
    </div>

</div>

<script>
    //*** version binding
    $(".version").html(app.config.version);
    //*** copy write binding
    $(".copyright").html(app.config.copyright);
</script>
