<div class="aboutTab">
    <div class="panelHeader">
        <span class="panelHeaderText">About the Statewide Demographic Viewer</span>
        <a class="closePanel" href="#">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="safetyContainer">
        <div>
            The Statewide Demographic Maps Viewer allows you to graphically view selected population and housing data
            for all or virtually any block group subset of the state of Arizona. The viewer provides interactive
            mapping and reporting tools to allow exploration of data from Census 2010 and the American Community Survey
            (ACS) 5-year 2012-2016. The data is shown by census block group geography. If you have any comments, please
            call MAG at (602) 254-6300 or visit our web site at
            <a class="link" title="website link" role="navigation" target="_blank" href="http://azmag.gov/">www.azmag.gov</a>.
        </div>
    </div>
    <div class="legal">


    </div>
    <hr>
    <div id="copyDiv">
        <span class="copyright">Copyright ©
        </span>
        <a class="link" title="website link" role="navigation" target="_blank" href="https://www.azmag.gov/">Maricopa
            Association of Governments</a> |
        <a href="#Legal" class="link" title="Legal">Legal Disclaimer</a>
        <br>
        <span class="version">v3.3.3 | 2018-04-11</span>
    </div>
</div>
