<div id="countySummaryView">
    <div id="csTabStrip">
        <ul>
            <li>Summary Report</li>
            <li class="k-state-active">Charts</li>
        </ul>
        <div id="csSummaryReportTab">
            <div class="reportTabPageOptionRow">
                <span>
                    <input id="csUseComp" type="checkbox">
                    <label for="csUseComp" class="smallFont">Use Comparison</label>
                    <input id="csCompareComboBox"/>
                </span>
                <span class="reportExportSpan">
                    Export Grid Results:
                    <button id="csExportResults" type="button">
                        <img src="app/resources/img/i_print.png" class="exportButtonImage">
                    </button>
                </span>
            </div>
            <div id="csDataGrid" style="margin: 5px 0 0 0; font-size: small;"></div>
        </div>
        <div id="csChartsTab">
            <div class="reportTabPageOptionRow">
                <span class="reportExportSpan">
                    Print Summary Report:
                    <button id="printSummary" type="button">
                        <img src="app/resources/img/i_print.png" class="exportButtonImage">
                    </button>
                </span>
            </div>
            <div id="csSplitContainer" style="margin: 5px 0 0 0;">
                <div id="csChartAreaPane">
                    <div id="csChartArea"></div>
                </div>
                <div id="csChartListPane">
                    <div id="csChartList"></div>
                </div>
            </div>
        </div>
    </div>
    <p id="csSource" style="font-size: xx-small; color: #ffffff"></p>

    <script type="text/x-kendo-tmpl" id="csChartListTemplate">
        <div class="csChart" style="cursor: pointer;">
            <p style="font-size: small;">#:chartCategory#</p>
        </div>
    </script>
</div>