<div class="help">
    <h1>Selected Features Help</h1>
    <hr>
    <p>The <strong>Selected Features</strong> presents an aggregate view of the selected block groups: there is one record for each summary metric.  The results in this table use census 2010 block group data.</p>

    <p>The number of selected features retuned by Custom Summary or Advanced Query is displayed at the top of the table.</p>

    <p>Selected features can also be sorted by each column in accending and decending order by clicking on each column header.</p>

    <p>Hovering over a row will highlight the Census Block Group it represents on the map.</p>

    <p>By clicking on a row you can highlight the individual row.</p>

    <p>The selected features can be exported to an Excel or CVS data file using the <strong>Export Results</strong> selector and button.</p>
</div>