<div class="help">
    <h1>Method Explanation</h1>
    <hr>
    <span>
        The selected boundaries are not official geometries of the United States Census Bureau.
    </span>
    <br><br>
    <span>
        In order to approximate the population, housing and workforce data for these custom areas, the following enhanced method was used:
    </span>
    <ul>
        <li>The counts are redistributed to a more detailed geography (Census Block Group data or Census Tracts), that better nests within the MPO boundaries. </li>
        <li>The counts are proportionally redistributed to blocks based on the Census 2010 counts for population, households or housing units.</li>
        <li>The blocks are then assigned to the MPO containing their center, and summed by the MPO, to obtain the final counts.</li>
    </ul>
    <p class='legal'>*The values may not always add up to 100% as expected.</p><p class='legal'> The Maricopa Association of Governments GIS Departments shall assume no liability for:<p class='legal'> Any errors, omissions, or inaccuracies in the information provided, regardless of how caused; or Any decision made or action taken or not taken by viewer in reliance upon any information or data furnished hereunder.</p></p>
</div>