<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Update Custom Class Breaks</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <p class="info">
                        Change data classification breaks by selecting a vertical slider bar and adjusting
                        its position.
                    </p>
                    <div style="display:flex;">
                        <div id="classBreakSliderTooltips"></div>
                        <div id="classBreakSliders"></div>
                        <div id="classBreakCharts"></div>
                    </div>
                    <div id="classBreakSliders2"></div>
                    <hr />
                    <button id="customClassBreaksButton" class="btn btn-submit" type="button">
                        Confirm
                    </button>
                </div>
            </form>

        </div>
        <!-- <div class="modal-footer">
            <p class="button-group"><button class="btn btn-default" data-dismiss="modal">Close</button></p>
        </div> -->
    </div>
</div>
