<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="MapsHelpModal"
         class="modal-content">
        <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Maps Help</h3>
        </div>
        <div class="modal-body">
            <h4>Choose a Map</h4>
            <p>
                A menu of available thematic demographic maps is provided in the Maps panel. The maps are organized by
                topic (e.g., Population, Housing) and sub-categories (e.g., Age, Race and Ethnicity). Note that
                changing a map will change the text in the contents of the Legend panel.
            </p>
            <h4>Advanced Map Options</h4>
            <h5>Data Classes</h5>
            <p>
                This provides the ability to specify the number of intervals the data is divided up into. Choosing the
                number of data classes is an important part of map design. Increasing the number of data classes will
                result in a more "information rich" map by decreasing the amount of data generalization. However, too
                many data classes
                may be overwhelming, providing too much information and distracting the map reader from seeing general
                trends
                in the distribution. In addition, a large number of classes may compromise map legibility as more
                classes
                require more colors that become increasingly difficult to tell apart.
            </p>
            <h5>Classification Type</h5>
            <p>
                A means of generalizing the maps by sorting or arranging data into groups or categories on a map. You
                can explore the data by applying the different classification techniques. The classification method you
                choose depends
                on the nature of your data, and what you want to show about the data. When you classify your data, you
                can either use
                one of the standard classifications schemes provided or create custom classes based on class ranges you
                specify.
            </p>
            <ul>
                <li>Natural Breaks</li>
                <p>A method of manual data classification that seeks to divide data into classes based on natural
                    groups in the data
                    distribution. Natural breaks occur in the histogram at the low points of valleys. Breaks are
                    assigned in the order of
                    the size of the valleys, with the largest valley being assigned the first natural break.</p>
                <li>Equal Interval</li>
                <p>A data classification method that divides a set of attribute values into groups that contain an
                    equal range of values.</p>
                <li>Quantile</li>
                <p>A data classification method that distributes a set of values into groups that contain an equal
                    number of values.</p>
                <li>Custom</li>
                <p>A method that lets the user choose the appropriate or meaningful classification values. The edit button will allow the user to modify classification values.</p>
            </ul>
            <h5>Color Scheme</h5>
            <p>A range of colors used to show ranking or order among classes on a map. For more information on color schemes and data classification visit
                <a class="link" href="http://colorbrewer2.org/" target="_blank">colorbrewer2.org</a></p>


        </div>
        <div class="modal-footer">
            <p class="button-group close"><button class="btn btn-default"
                        data-dismiss="modal">Close</button></p>
        </div>
    </div>
</div>
