<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="legendHelpModal" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Legend Help</h3>
        </div>
        <div class="modal-body">
           <p>
            The legend describes the contents of the current map. The content of the map is organized into layers that group
            similar types of geographic features.
           </p>
           <p>
               The map contains two types of layer contents maps contents and layer contents.  Map contents are controlled by the map button and
           </p>


        <ul>The map contains the following layers:
            <li>The current demographic map. This is the default layer. The description of the current map is displayed at the top
            followed by the classes contained within the map. Each class describes the shade on the map used to display a range of
            values.</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>

        </div>
        <div class="modal-footer">
            <p class="button-group"><a class="btn btn-default" data-dismiss="modal">Close</a></p>
        </div>
    </div>
</div>
