<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div id="legendHelpModal"
         class="modal-content">
        <div class="modal-header">
            <button type="button"
                    class="close"
                    data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Legend Help</h3>
        </div>
        <div class="modal-body">
            <p>
                The legend describes the contents of the current map. The content of the map is organized into layers
                that group
                similar types of geographic features.
            </p>
            <p>
                The map contains two types of layer contents thematic maps contents and layer contents. The thematic
                map contents are controlled by the Maps button and the layer contents are controlled by the Layers
                button.
            </p>


            <ul>The map contains the following layers:
                <li>Thematic Map</li>
                <p>The thematic map layer is the colored census blocks. The description of the current thematic map is
                    displayed at the top of the legend
                    followed by the classes contained within the map. Each class describes the shade on the map used to
                    display a range of
                    values.</p>
                <li>Layer Options</li>
                <p>The Layer options are different geographic areas that can be added as an overlay to the thematic
                    map.</p>
            </ul>

            <p>
                You can change the display of the map's content in the following ways:
            </p>
            <ul>
                <li>Change the visibility of a layer by checking or un-checking the layer's checkbox.</li>
                <li>Change the transparency of the census block group layer by moving the transparency slider. Moving
                    the slider to the
                    left will increase the layer's transparency which will allow for seeing the contents underneath the
                    layer.</li>
                <li>To change the current demographic map, choose an item from the maps menu.</li>
            </ul>

        </div>
        <div class="modal-footer">
            <p class="button-group close"><button class="btn btn-default"
                        data-dismiss="modal">Close</button></p>
        </div>
    </div>
</div>
