<div id="qbWindow2">
    <span id="fCountSpan">Number of selected block groups:&nbsp;<span id="fCount1"></span></span>
    <span id="info"></span>
    <div class="queryContainer">
        <table style="table-layout: fixed; width: 554px;">
            <thead class="queryHeader">
                <tr>
                    <th style="width: 183px;">Subject</th>
                    <th style="width: 203px;">Operation</th>
                    <th style="width: 138px;">Value</th>
                    <th style="width: 22px;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: queryRows">
                <tr data-bind="event: { mouseover: $parent.rowMouseover }">
                    <td style="vertical-align: top; width: 183px;">
                        <select data-bind="subjectUniqueId: field, options: $parent.fields, optionsText: 'Field', value: field" style="width: 95%; margin-right: 5px;"></select>
                    </td>
                    <td style="vertical-align: top; width: 203px;">
                        <select data-bind="operationUniqueId: operator, optionsText: 'Name', value: operator" style="width: 95%;"></select>
                        <table style="float: right; margin: 5px 5px 5px 0px; width: 95%;">
                            <tr>
                                <td style="text-align: right; font-size: 10px;">
                                    <p style="margin: 1px;">Additional Conditions</p>
                                    <p style="margin: 1px;">(optional)</p>
                                </td>
                                <td>
                                    <select style="width: 84px;" data-bind="joinUniqueId: join, options: $parent.joins, value: join"></select>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top; width: 138px;">
                        <input data-role="autocomplete" data-bind="valueUniqueId: value, value: value" style="width: 95%"> <!-- input box-->
                      <!-- <div id="valueId"></div> -->
                    </td>
                    <td style="vertical-align: top; width: 22px;">
                        <img src="app/resources/img/remove.png" alt="Remove" title="Remove Row" style="cursor: pointer;" data-bind="click: $root.removeCriteria">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="cancelQuery" class="queryButtons" type="button" title="Cancel Query">Cancel</button>
    <button id="runQuery" class="queryButtons" type="button" title="Run Query">Run Query</button>
    <button id="verifyQuery" class="queryButtons" type="button" title="Verify Query">Verify Query</button>
</div>