<div id="demographicView">
    <div id="demTabStrip">
        <ul>
            <li class="k-state-active">ACS 2014 Data</li>
            <li>ACS 2014 Charts</li>
            <li>Census 2010 Data</li>
            <li>Census 2010 Charts</li>
        </ul>
        <div id="demACSSummaryReportTab">
            <div id="demACSSummaryOptionsRow" class="reportTabPageOptionRow">
                <span>
                    <input id="demACSUseComp" type="checkbox">
                    <label id="demACSUseCompLabel" for="demACSUseComp" class="smallFont">Use Comparison</label>
                </span>
                <span class="reportExportSpan">
                    <span>Export Results:</span>
                    <button id="demACSExportResults" type="button" data-bind="click: exportToExcel">
                        <img src="app/resources/img/i_excel.png" class="exportButtonImage">
                    </button>
                </span>
            </div>
        </div>
        <div id="demACSChartsTab">
            <div class="reportTabPageOptionRow">
                <input id="displayACSLegend" type="checkbox" data-bind="checked: isChecked">
                <label for="displayACSLegend" class="smallFont">Display chart legend</label>

                <span class="reportExportSpan">
                    <div id="exportACSReportRequest">
                        <span>Export Report to PDF:</span>
                        <button id="printACSSummary" type="button" data-bind="click: exportPDFReport">
                            <img src="app/resources/img/i_pdf.png" class="exportButtonImage">
                        </button>
                    </div>
                </span>
            </div>
            <br>     
            <div id="demACSSplitContainer">
                <div id="demACSChartAreaPane">
                </div>
                <div id="demACSChartListPane">
                    <div id="demACSChartList"></div>
                </div>
            </div>
        </div>
        <div id="demCensusSummaryReportTab">
            <div id="demCensusSummaryOptionsRow" class="reportTabPageOptionRow">
                <span>
                    <input id="demCensusUseComp" type="checkbox">
                    <label id="demCensusUseCompLabel" for="demCensusUseComp" class="smallFont">Use Comparison</label>
                </span>
                <span class="reportExportSpan">
                    <span>Export Results:</span>
                    <button id="demCensusExportResults" type="button" data-bind="click: exportToExcel">
                        <img src="app/resources/img/i_excel.png" class="exportButtonImage">
                    </button>
                </span>
            </div>
        </div>
        <div id="demCensusChartsTab">
            <div class="reportTabPageOptionRow">
                <input id="displayCensusLegend" type="checkbox" data-bind="checked: isChecked">
                <label for="displayCensusLegend" class="smallFont">Display chart legend</label>
				<span class="reportExportSpan">
					<div id="exportCensusReportRequest">
						<span>Export Report to PDF:</span>
						<button id="printCensusSummary" type="button" data-bind="click: exportPDFReport">
							<img src="app/resources/img/i_pdf.png" class="exportButtonImage">
						</button>
					</div>
				</span>
            </div>
            <br>		
            <div id="demCensusSplitContainer">
                <div id="demCensusChartAreaPane">
                </div>
                <div id="demCensusChartListPane">
                    <div id="demCensusChartList"></div>
                </div>
            </div>
        </div>
    </div>
    <p id="demSource" class="legal">Source: American Comunity Survey 2014</p>

    <script type="text/x-kendo-tmpl" id="demChartListTemplate">
        <div class="demChartCategoryItem">
            <div class="k-button button">#:chartCategory#</div>
        </div>
    </script>
</div>