<div class="help">
            <h1>Markup Tools Help</h1>
            <hr>
            <p>The Markup Tools give a user drawing and markup capabilities with settings for different shapes and colors.</p>
            <p>The following markup shapes are available:</p>

            <ul>
            	<li><strong>Polygon</strong> - Click on the map to start drawing the edge, single click to change drawing direction, double-click to finish drawing.</li>
            	<li><strong>Circle</strong> - Click to add a simple circle, or click, hold, and drag the cursor to create a custom size circle.</li>
                <li><strong>Arrow</strong> - Click to add a simple arrow pointing East, or click, hold, and drag the cursor to create a custom size arrow pointing in any direction.</li>
                <li><strong>Freehand Polygon</strong> - Click, hold, and drag the cursor to create a custom shape.  Release click to finish drawing.</li>
                <li><strong>Text</strong> - Enter text into <i>Text Input</i> box and then click on the map to add text.</li>
            </ul>

            <p>The following settings can be set for each shape.  Be sure to change these settings before drawing the shape:</p>

            <ul>
            	<li><strong>Fill Color</strong> - Change the color used to fill shape.  For Text, the fill shape determines the text color.</li>
            	<li><strong>Outline Color</strong> - Change the color used as the outline of shape.  Does not apply to Text.</li>
            </ul>

            <p>The following tools are available to edit existing markups:</p>

            <ul>
            	<li><strong>Select Markup</strong> - <img alt="Edit Markup" src="./app/resources/img/EditMarkup.png"> - Allows you to select a markup on the map.  Selections can be resized and rotated.</li>
            	<li><strong>Delete Markup</strong> - <img alt="Delete Markup" src="./app/resources/img/DeleteMarkup.png"> - Deletes the selected markup from the map.</li>
                <li><strong>Undo Last Markup</strong> - <img alt="Undo Last Markup" src="./app/resources/img/UndoMarkup.png"> - Removes the last drawn markup from map.</li>
            </ul>
        </div>