<div id="reportLauncher">
    <h1>Choose a report:</h1>
    <button id="launchStateSummaryWin" type="button" title="State Summary" href="#" data-bind="click: openStateSummaryWindow">State Summary</button>
        

    <button id="launchCountySummaryWin" type="button" title="County Summary" href="#" data-bind="click: displayCountyChoice">County Summary</button>
	    <div id="countyChoiceDiv">
            <input id="countyComboBox">
            <button id="countyButton" class="getButton" title="Pick a County" type="button" data-bind="click: openCountySummaryWindow">Get Report</button>
	     </div>

    <button id="launchPlaceSummaryWin" type="button" title="Place Summary" href="#" data-bind="click: displayPlaceChoice">Jurisdiction Summary</button>
        <div id="placeChoiceDiv">
            <input id="placeComboBox">
            <button id="placeButton" class="getButton" title="Pick a City or Town" type="button" data-bind="click: openPlaceSummaryWindow">Get Report</button>
        </div>


    <button id="launchInteractiveSummaryDiv" title="Custom Summary" href="#" data-bind="click: displayInteractiveDiv">Custom Summary</button>

    <button id="launchQB" type="button" title="Query Builder" href="#" data-bind="click: openQueryBuilder">Advanced Query</button>
</div>