<div class="help">
    <h1>Title VI Data Help</h1>
    <hr>
    <p>The <strong>Title VI Data Report</strong> shows specific data from the American Community Survey (ACS) 5 year estimates for 2011 - 2015 relating to Disability and Limited English Proficiency.</p>
    <p>The <strong>Title VI Data</strong> can be exported to an Excel data file using the <strong>Export Results</strong> button.</p>
    <span>
        In order to approximate the population, housing and workforce data for these custom areas, the following enhanced method was used:
    </span>
    <ul>
        <li>The counts are redistributed to a more detailed geography (Census Block Group data or Census Tracts), that better nests within the MPO boundaries. </li>
        <li>The counts are proportionally redistributed to blocks based on the Census 2010 counts for population, households or housing units.</li>
        <li>The blocks are then assigned to the MPO containing their center, and summed by the MPO, to obtain the final counts.</li>
    </ul>
</div>
